@page "/"

<PageTitle>EasyPicker Demo</PageTitle>

<h1>EasyPicker Demo</h1>

<div class="row">
    <div class="sample-box">
        <label>Simple Date Picker</label>
        <EasyPicker />
    </div>
</div>
<br/>
<div>@_message</div>


@code {

    private readonly RangePluginOptions _rangeConfig = new()
    {
        StartDate = DateTime.Today
    };
    private readonly AmpPluginOptions _ampConfig = new()
    {
        Dropdown = new Dropdown()
        {
            MinYear = 2000,
            MaxYear = 2050,
            Months = true,
            Years = true,
            YearsAscending = true
        },
        ResetButton = true
    };
    private string? _message;

}