@page "/"

<PageTitle>EasyPicker Demo</PageTitle>

<h1>EasyPicker Demo</h1>

<div class="row">
    <div class="sample-box">
        <label>Simple Date Picker</label>
        <EasyPicker Date="DateTime.Now" DateSelected="OnDateSelected" />
    </div>

    <div class="sample-box">
        <label>Date Range Selection Picker</label>
        <EasyPicker RangeConfig="_rangeConfig"
                    DateRangeSelected="OnDateRangeSelected"
                    CollectDateRange="true"
                    Months="2"
                    Columns="2" />
    </div>

    <div class="sample-box">
        <label>Header/Extra Options</label>
        <EasyPicker AmpConfig="_ampConfig"
                    DateSelected="OnDateSelected"/>
    </div>

</div>
<br/>
<div>@_message</div>


@code {

    private void OnDateSelected(DateTime date)
    {
        _message = $"Date {date.ToShortDateString()} selected.";
    }

    private void OnDateRangeSelected(DateRange dateRange)
    {
        _message = $"Date Range {dateRange.StartDate.ToShortDateString()}-{dateRange.EndDate.ToShortDateString()} selected.";
    }

    private readonly RangePluginOptions _rangeConfig = new()
    {
        StartDate = DateTime.Today
    };
    private readonly AmpPluginOptions _ampConfig = new()
    {
        Dropdown = new Dropdown()
        {
            MinYear = 2000,
            MaxYear = 2050,
            Months = true,
            Years = true,
            YearsAscending = true
        },
        ResetButton = true
    };
    private string? _message;

}